# Dependencias
node_modules

# Archivos de entorno y credenciales
.env
firebase-service-account.json

# Scripts de administración locales
assign-role.js

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema operativo
.DS_Store
Thumbs.db

#Archivos de GIT
.gitignore
